@import './iconfont.css';

.iconfont {
  vertical-align: bottom;
  font-size: 1.5rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

html {
  font-size: 2em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App {
  text-align: center;
}

body {
  margin-bottom: 50px;
}

.tab-ctn {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;

  & .tabs {
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
  }

  & .tab {
    flex: 1;
    padding: 10px 5px;
    color: blue;
    vertical-align: middle;

    &.is-active {
      background: grey;
      color: red;
    }
  }
}
