@import './iconfont.css';

.iconfont {
  vertical-align: bottom;
  font-size: 1.5rem;
}

body {
  text-align: left;
}

html {
  font-size: 2em;
}
body {
  margin-bottom: 50px;
}

.tab-ctn {
  position: fixed;
  width: 100%;
  bottom: 0;
  background: white;

  & .tabs {
    height: 50px;
    display: flex;
    margin: 0;
    padding: 0;
  }

  & .tab {
    flex: 1;
    padding: 10px 5px;
    color: blue;
    vertical-align: middle;

    &.is-active {
      background: grey;
      color: red;
    }
  }
}
