:root {
  --grey-color: grey;
  --main-color: black;
  --blue-color: blue;
}

.posts-list {
  padding: 1rem 1.5rem;
}

.post-excerpt {
  border-bottom: 1px solid var(--grey-color);
  padding: 0.5rem 0;
  position: relative;
}

.post-time {
  color: var(--grey-color);
  font-style: italic;
  position: absolute;
  right: 0;
  top: 0;
}

.post-title {
  color: var(--grey-color);
  margin: 0;
  font-size: 1rem;
}

.post-author {
  font-size: 0.9rem;
  color: var(--grey-color);
  z-index: 1;
  position: absolute;
  bottom: 0.5rem;
  right: 0;
}

.post-link {
  color: blue;
}

.post-reactions {
  width: 100%;
}

.post-content {
  font-size: 1.5rem;
  color: var(--main-color);
  margin: 0;
}
