:root {
  --ratio: 25/45;
  --small-spinner-size: 45px;
  --middle-spinner-size: 63px;
  --large-spinner-size: 90px;
  --small-bubble-size: calc(var(--small-spinner-size) * var(--ratio));
  --middle-bubble-size: calc(var(--middle-spinner-size) * var(--ratio));
  --large-bubble-size: calc(var(--large-spinner-size) * var(--ratio));
}
.spinner {
  position: relative;
  margin: 0 auto;
  animation: loading 2s linear infinite;
}

@define-mixin sizing $sizes: small {
  .spinner.$(sizes) {
    width: var(--$(sizes)-spinner-size);
    height: var(--$(sizes)-spinner-size);
  }
  .spinner.$(sizes) .bubble1 {
    width: var(--$(sizes)-bubble-size);
    height: var(--$(sizes)-bubble-size);
  }
}

@mixin sizing small {
}
@mixin sizing middle {
}
@mixin sizing large {
}

.loading-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.bubble1 {
  position: absolute;
  top: 0;
  border-radius: 100%;
  background-color: #4b9cdb;
  animation: bounce 2s ease-in-out infinite;
}

.bubble2 {
  top: auto;
  bottom: 0;
  animation-delay: -1s;
}

@keyframes loading {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
