.ctn {
  padding: 2rem 1.5rem;
}

.post {
  color: black;
  position: relative;
}

.title {
  color: grey;
  margin-bottom: 0.5rem;
}

.link {
  color: blue;
}

.reactions {
  width: 100%;
}

.subWrp {
  font-size: 0.9rem;
}

.time {
  font-style: italic;
}

.author {
  color: grey;
}

.content {
  color: black;
}
